@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Animation fade + slide up */
  @keyframes fade-in-up {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }


  .delay-1 { animation-delay: 0.1s; }
  .delay-2 { animation-delay: 0.2s; }
  .delay-3 { animation-delay: 0.3s; }
  .delay-4 { animation-delay: 0.4s; }
  .delay-5 { animation-delay: 0.5s; }

  /* Animation titre */
  @keyframes fade-scale {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }

  .animate-fade-scale {
    animation: fade-scale 0.8s ease-out forwards;
  }

  @keyframes scrollLeft {
      from { transform: translateX(0); }
      to { transform: translateX(-50%) }
    }

    .animate-scroll-infinite {
      display: flex;
      width: max-content;
      animation: scrollLeft 30s linear infinite;
    }

    .animate-scroll-infinite:hover {
      animation-play-state: paused;
    }
  
    @keyframes scrollRigth {
      from  { transform: translateX(-50%); }
      to { transform: translateX(0); }
    }

    .animate-scroll-rigth {
      display: flex;
      width: max-content;
      animation: scrollRigth 30s linear infinite;
    }

    .animate-scroll-rigth:hover {
      animation-play-state: paused;
    }

  /* Masquer par défaut */
  .opacity-0 { opacity: 0; }
  
}
